<div class="wrapper" id="about">
    <div class="container">
        <div class="about row" data-aos="zoom-in" data-aos-duration="2000">
            <h2 class="p-5 animation-1">About
            </h2>
            <div class="text col-md-12 pt-6 col-lg-7 ">
                <p>I'm a full stack developer, <span> passionate for this mesmerizing technology field</span>, I am able
                    to develop
                    web projects with the best quality standards and using the most modern tools, always adapting my
                    skills in order to meet the needs of each client and project. <br>
                    I've developed multiple freelance projects in my academic path, applying various integrated and
                    innovative methodologies and <span>using frontend as well as backend technologies.</span> <br> I
                    excel in the
                    creation
                    of user experiences, <span>and aesthetic performance in the design field.</span> In addition, I
                    always like to
                    exceed client's and user's expectations looking forward to immerse them in the most exceptional and
                    interactive experience.
                </p>
            </div>
            <div class="col-lg-5 col-md-12 image">
                <img class="img-fluid" src="assets/img/me.jpeg" alt="" width="300px">
            </div>
        </div>
    </div>
</div>