<div class="principal">
    <div class="container">
        <div class="row  home">
            <div class="col-lg-7 col-md-7 col-sm-12 d-flex justify-content-center flex-column">
                <p class="span animate__animated animate__fadeInDown animation-1"> <i
                        class="fa-solid fa-grip-lines"></i> Hello,</p>
                <h4 class="animate__animated animate__fadeInDown animation-2">I'm <span #asTitle>Laura Caicedo D.</span>
                </h4>
                <h2 class="animate__animated animate__fadeInDown animation-3">Full Stack Developer</h2>
                <p class="initial-text animate__animated animate__fadeInDown animation-4">Currently located in Medellin
                    Colombia,
                    <br>
                    I love building interactive, digital experiences
                    on the web. <br> Scroll down and get to know me.
                </p>
            </div>
            <div class="col-lg-5 col-md-5 image d-none d-md-block initial-text ">
                <ul class="icons d-flex flex-column justify-content-end">
                    <li class="my-3"><a href="https://wa.me/573192618044" target="_blank" rel="noopener noreferrer"><img
                                src="assets/img/Chat.png" alt="" width="30px"></a></li>
                    <li class="my-3"><a href="https://www.linkedin.com/in/laura-caicedo-diaz-378387238/" target="_blank"
                            rel="noopener noreferrer"><img src="assets/img/facebook.png" alt="" width="30px"></a></li>
                    <li class="my-3"><a href="https://github.com/laucadi" target="_blank" rel="noopener noreferrer"><img
                                src="assets/img/githu.png" alt="" width="30px"></a></li>
                    <li class="my-3"><a href="https://www.instagram.com/lau_cadi/" target="_blank"
                            rel="noopener noreferrer"><img src="assets/img/instagram.png" alt="" width="30px"></a></li>
                    <li class="line"><svg width="1" height="324" viewBox="0 0 1 324" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="0.5" x2="0.5" y2="324" stroke="#D3D3D3" />
                        </svg></li>
                </ul>
            </div>

        </div>
        <div class="d-flex justify-content-center  flex-column arrow">

            <p class="text-center initial-text animate__animated animate__fadeInDown animation-5">SCROLL</p>
            <a class="text-center initial-text animate__animated animate__fadeInDown animation-6" href="#about"><i
                    class="fa-solid fa-arrow-down"></i></a>

        </div>
    </div>