<div class="wrapper" id="projects">
    <div class="container">
        <h3 class="py-5 " data-aos="fade-up" data-aos-duration="1500">Projects </h3>
        <div class="project d-flex  justify-content-start py-5" data-aos="fade-up" data-aos-duration="1500">
            <div class="card">
                <div class="image1 image">
                    <div class="header ">
                        <div class="date">
                            <span> <strong>Features:</strong></span>
                            <span> Angular,</span>
                            <span> Bootstrap,</span>
                            <span> Node.JS,</span>
                            <span> Express.JS</span>
                            <span> MongoDB</span>
                        </div>
                    </div>
                    <div class="data align-self-end">
                        <div class="content ps-4">
                            <span>Feature Project</span>
                            <h3>Lucky Pets</h3>
                            <ul class="menu-content d-flex justify-content-center">
                                <li class="pe-2"><a href="https://github.com/laucadi/frontedCompletoAdopciones"
                                        target="_blank"><i class="fa-brands fa-github"></i></a>
                                </li>
                                <li><a href="https://fronted-completo-adopciones-estefaniaarenas.vercel.app/"
                                        target="_blank"><i class="fa-solid fa-arrow-up-right-from-square "></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text d-none d-md-block " data-aos="zoom-in">
                <h5>Lucky pets </h5>
                <p>Web application made in order to give greater visibility to small rescuers when giving rescued pets
                    up for adoption. Connect these rescuers with potential adopters to make the adoption process easier.
                    the application has route authentication, login with JWT and password encryption.</p>
            </div>
        </div>
        <div class="project d-flex justify-content-end py-5 final" data-aos="fade-up" data-aos-duration="1500">
            <div class="card">
                <div class="image image2">
                    <div class="header ">
                        <div class="date">
                            <span><strong> Features: </strong></span>
                            <span>Angular, </span>
                            <span>Bootstrap, </span>
                            <span>Node.JS, </span>
                            <span>MongoDB, </span>
                            <span>REST API</span>
                        </div>
                    </div>
                    <div class="data align-self-end">
                        <div class="content ps-4">
                            <span>Feature Project</span>
                            <h3>A la carta Restaurante</h3>
                            <ul class="menu-content d-flex justify-content-center">
                                <li class="pe-2"><a href="https://github.com/laucadi/AlkemyAngular" target="_blank"><i
                                            class="fa-brands fa-github"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text d-none d-md-block" data-aos="zoom-in">
                <h5>A la carta Restaurante</h5>
                <p>Web application based on the spoonacular api, It contains a login with JWT, route authentication
                    with guards, a search engine with RXJS and a shopping cart.</p>
            </div>
        </div>
        <div class="project d-flex justify-content-start py-5" data-aos="fade-up" data-aos-duration="1500">
            <div class="card  ">
                <div class="image image3">
                    <div class="header ">
                        <div class="date">
                            <span><strong>Features: </strong> </span>
                            <span> HTML,</span>
                            <span> CSS,</span>
                            <span> Javascipt</span>
                        </div>
                    </div>
                    <div class="data align-self-end">
                        <div class="content ps-4">
                            <span>Feature Project</span>
                            <h3>Guess my number</h3>
                            <ul class="menu-content d-flex justify-content-center">
                                <li class="pe-2"><a href="https://github.com/laucadi/Guess-My-Number-JS"
                                        target="_blank"><i class="fa-brands fa-github"></i></a>
                                </li>
                                <li><a href="https://adivinaelnum.netlify.app/" target="_blank"><i
                                            class="fa-solid fa-arrow-up-right-from-square "></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" text d-none d-md-block" data-aos="zoom-in">
                <h5>Guess my number</h5>
                <p>Game made with vanilla javascript and pure css, using the math random function you must guess a
                    number from 1 to 20 with a score at the end of the game.</p>
            </div>
        </div>
    </div>
</div>