footer {
  background: #34353a url("../../../assets/img/pag-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
  color: #d3d3d3;

  .contact {
    height: 100vh;
  }
}
