<footer class="text-center text-white" id="footer">
    <div class="container contact text-center pt-5 contact d-flex flex-column justify-content-center">
        <h3 class="pb-4" data-aos="fade-up" data-aos-duration="1500">Let's work together!</h3>
        <p data-aos="fade-up" data-aos-duration="1500"> Below you can find
            my contact information. <br>
            Wheter you have a question or just want to say hi, please don't hesitate to contact me </p>

    </div>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4 d-lg-none">
            <!-- Facebook -->
            <a class="btn  btn-floating m-1" href="https://github.com/laucadi" role="button"><img
                    src="assets/img/githu.png" alt="" width="30px"></a>

            <!-- Twitter -->
            <a class="btn  btn-floating m-1" href="https://www.linkedin.com/in/laura-caicedo-diaz-378387238/"
                role="button"><img src="assets/img/facebook.png" alt="" width="30px"></a>

            <!-- Instagram -->
            <a class="btn  btn-floating m-1" href="https://www.instagram.com/lau_cadi/" role="button"><img
                    src="assets/img/instagram.png" alt="" width="30px"></a>

            <!-- Linkedin -->
            <a class="btn  btn-floating m-1" href="https://wa.me/573192618044" role="button"><img
                    src="assets/img/Chat.png" alt="" width="30px"></a>


        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Copyright -->
    <div class="copyright text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <span> © 2022 Copyright: </span> <a>lauracaicedo182@gmail.com </a>
    </div>
    <!-- Copyright -->
</footer>