<div class="wrapper" id="skills">
    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="zoom-in"
        data-aos-duration="2000">
        <h3>Here are a few technologies I’ve been working with </h3>
        <div class="skills d-flex justify-content-center align-items-center">

            <div class="icons d-flex justify-content-center align-items-center flex-wrap">
                <div class="icon d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/img/html.png" alt="">
                    <span>HTML</span>

                </div>

                <div class="icon d-flex flex-column  justify-content-center align-items-center"><img
                        src="assets/img/css-3.png" alt="">
                    <span>CSS</span>
                </div>
                <div class="icon d-flex flex-column  justify-content-center align-items-center"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/512px-Bootstrap_logo.svg.png"
                        alt="">
                    <span>Bootstrap</span>
                </div>
                <div class="icon d-flex flex-column  justify-content-center align-items-center"><img
                        src="https://cdn-icons-png.flaticon.com/512/5968/5968705.png" alt="">
                    <span>Figma</span>
                </div>
                <div class="icon d-flex flex-column  justify-content-center align-items-center"><img
                        src="https://icons-for-free.com/download-icon-super+tiny+icons+javascript-1324450741921820748_256.ico"
                        alt="">
                    <span>Javascript</span>
                </div>
                <div class="icon d-flex flex-column  justify-content-center align-items-center"><img
                        src="assets/img/git.png" alt="">
                    <span>Git</span>
                </div>
                <div class="icon d-flex flex-column  justify-content-center align-items-center"><img
                        src="https://icons-for-free.com/iconfiles/png/512/developers+github+github+logo+web+design+web+development+icon-1320196083747626912.png"
                        alt="">
                    <span>Github</span>
                </div>
                <div class="icon d-flex  flex-column justify-content-center align-items-center"><img
                        src="assets/img/nodo-js.png" alt="">
                    <span>Node.JS</span>
                </div>
                <div class="icon d-flex flex-column  justify-content-center align-items-center"><img
                        src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" alt="">
                    <span>Angular</span>
                </div>
                <div class="icon d-flex flex-column  justify-content-center align-items-center"><img
                        src="https://img.icons8.com/color/480/mongodb.png" alt="">
                    <span>MongoDB</span>
                </div>
            </div>
        </div>
    </div>
</div>