<div class="background">
    <div class="container p-0">
        <nav class="navbar navbar-expand-lg py-2">
            <div class="container-fluid">
                <a class="navbar-brand">Laura Caicedo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-lg-0 navbar-nav-scroll">
                        <li class="nav-item" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
                            <a class="nav-link active" aria-current="page" href="#about">About</a>
                        </li>
                        <li class="nav-item" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1100">
                            <a class="nav-link active" aria-current="page" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">
                            <a class="nav-link active" aria-current="page" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1300">
                            <a class="nav-link active" aria-current="page" href="#footer">Contact me</a>
                        </li>
                        <form class="d-flex" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1400">
                            <button class="btn"><a download href="assets/img/CVLaura.pdf"> Resume</a></button>
                        </form>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>